<!DOCTYPE html>
{% extends 'base.html' %}
<html>
<head>
	{% block title %}Change password successful{% endblock %}
</head>
<body>
	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'password_change' %}">更改密码</a></li>
		<li class="breadcrumb-item active">成功</li>
	{% endblock %}

	{% block content %}
		<div class="alert alert-success" role="alert">
			<strong> 成 功!</strong> 你的密码已经更改成功!
		</div>
		<a href="{% url 'home' %}" class="btn btn-secondary">返回网站首页</a>
	{% endblock %}
</body>
</html>