<!DOCTYPE html>
{% extends 'base_accounts.html' %}
<html>
<head>
	{% block title %}Password changed!{% endblock %}
</head>
<body>
	{% block content %}
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-8 col-sm-10">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title"></h3>
						<div class="alert alert-success" role="alert">你已经完成密码重置可以进行重新登录</div>
						<a href="{% url 'login' %}" class="btn btn-secondary btn-block">返 回 登 录</a>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
</body>
</html>