<!DOCTYPE html>
{% extends 'base_accounts.html' %}
{% load static %}
<html>
<head>
	<title></title>
	{% block stylesheet %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
	{% endblock %}
</head>
<body>
	{% block content %}
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 col-sm-12">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">注 册</h3>
						<form method="post" enctype="multipart/form-data" novalidate>
							{% csrf_token %}
							<!-- {{ form.as_p }} -->
							{{ profile_form.as_p }}
							{% include 'includes/form.html' %}
							<button type="submit" class="btn btn-primary">创建新账户</button>
						</form>
					</div>
					<div class="card-footer text-muted text-center">
						已经拥有账户? <a href="{% url 'login' %}">登 录</a>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
</body>
</html>